---
---

// Breakpoints
/* $large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;*/

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #006633;
$header-bg-color-secondary: #00a440;

// Text
$section-headings-color:  #606c71 /*#D35400*/; 
/* $body-text-color: #606c71 !default; */
$body-link-color: #009440 /*!default*/;
$font-size-base:          6px /*!default*/;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-h1:            13px /*!default*/;
$font-size-h2:            45px !default;
$font-size-h3:            34px !default;
$font-size-h4:            24px !default;
$font-size-h5:            20px !default;
$font-size-h6:            14px !default;
/* $blockquote-text-color: #819198 !default; */

// Code
/* $code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;*/

// Borders
/* $border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;*/

@import "{{ site.theme }}";

h1 {
  text-align: center;
}
